@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.top{
    padding-top: 150px;
}

.text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
}

.vid1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.belowvid1{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 50px;
}
.simplegrid1:hover{
    transform: scale(1.1);
}


.underlineanimation {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  .underlineanimation:hover {
    color: #000;
  }
  
  .underlineanimation::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underlineanimation:hover::before {
    transform: scaleX(0.5);
  }


  .tech{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
    gap: 10px;
  }

  .techleft{
    
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    
  }
  .techright{
    
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    
  }


  .videosall{
    margin-top: 70px;
  }